@model SchoolManagement.Models.db.Salary



<div class="content container-fluid">


    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Edit" method="post" data-ajax-success="OnSuccess" class="needs-validation" novalidate
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="Attachment" />
                        @Html.AntiForgeryToken()



                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title student-info">Pay Salary <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="TeacherId" class="control-label">Teacher<span class="login-danger">*</span></label>
                                    <input type="text" id="txtTeacher" class="form-control" />
                                    <input asp-for="TeacherId" type="hidden" id="TeacherId" class="form-control" />
                                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter teacher name.</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms ">
                                    <label asp-for="Amount" class="control-label">Amount <span class="login-danger">*</span></label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms ">
                                    <label asp-for="Date" class="control-label">Date<span class="login-danger">*</span></label>
                                    <input asp-for="Date" type="date" class="form-control" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms ">
                                    <label asp-for="PaidBy" class="control-label">Paid By<span class="login-danger">*</span></label>
                                    <input asp-for="PaidBy" class="form-control" />
                                    <span asp-validation-for="PaidBy" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">

                                    <label asp-for="Comment" class="control-label">Comment<span class="login-danger">*</span></label>
                                    <input asp-for="Comment" class="form-control" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">

                                <div class="profile-user-box">
                                    <div class="profile-user-img">

                                        @*<img src="~/template/assets/img/profiles/avatar-02.jpg" id="uploadedImage" height="150" width="150" />*@


                                        <div class="form-group students-up-files profile-edit-icon mb-0">
                                            <div class="uplod d-flex">
                                                <label class="file-upload profile-upbtn mb-0">
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" name="Image" id="uploadInput" accept="image/*" required onchange="displayImage(event)">

                                                </label>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jQuery JavaScript Library v3.7.1.js"></script>
<link href="~/jquery-ui-1.14.1/jquery-ui.min.css" rel="stylesheet" />
<script src="~/jquery-ui-1.14.1/jquery-ui.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {

                 swal("Saved!",  data.message, "success");


             $("#Comment").val("");

           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}
