

@model SchoolManagement.Models.Users


<script src='https://www.google.com/recaptcha/api.js'></script>

<div style="  display: flex;
      justify-content: center;">
    @Html.ValidationSummary(true, "", new { @class = "text-danger text-align:center" })

</div>
<form action="">
    <div class="form-group">
        <label>Username <span class="login-danger">*</span></label>
        <input class="form-control"  value="@ViewBag.loginName" type="text" name="EmailId">
        <span class="profile-views"><i class="fas fa-user-circle"></i></span>
    </div>
    <div class="form-group">
        <label>Password <span class="login-danger">*</span></label>
        <input value="123456" class="form-control pass-input" type="text" name="Password">
        <span class="profile-views feather-eye toggle-password"></span>
    </div>
    @if (ViewBag.Connection == true)
    {
        <div class="login_footer form-group d-flex justify-content-between">
            <div id="rR" class="g-recaptcha" data-sitekey="6LcCtQIqAAAAAEXZkytzq7UtrWm8dXANLxfZ9PZo"></div>



        </div>
    }
    <div class="forgotpass">
        <div class="remember-me">
            <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                Remember me
                <input type="checkbox" name="RememberMe">
                <span class="checkmark"></span>
            </label>
        </div>
        <a href="forgot-password.html">Forgot Password?</a>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>
</form>
