@model ResetPasswordModel


    <form asp-action="PasswordReset" asp-controller="Account" method="post" data-ajax-success="OnSuccess"
          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">
        <input type="hidden" value="@ViewBag.userId" id="UserId_" name="userId" />
        <input type="hidden" asp-for="Email" value="na@mail.com" />
        <input type="hidden" asp-for="Code" value="na" />

        @Html.AntiForgeryToken()


        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-12">
                <h5 class="form-title student-info">Reset Password<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                    <label>Old Password <span class="login-danger">*</span></label>
                    <input class="form-control" id="Password" type="password" name="OldPassword" required maxlength="20" autofocus>

                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                    <label>New Password <span class="login-danger">*</span></label>
                    <input class="form-control" type="password" asp-for="Password" maxlength="20" required placeholder="******">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                    <label>Confirm Password <span class="login-danger">*</span></label>
                    <input class="form-control" type="password" asp-for="ConfirmPassword" required maxlength="20" placeholder="******">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>


            <div class="col-12">
                <div class="student-submit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>


