@*<title>@ViewBag.pTitle  | hadaf.af</title>*@




<meta name="description"
      content="
      Discover job openings, scholarships, and more in Afghanistan. Hadaf.af connects you with opportunities for work, education, and exploration. Start your journey today!
      ">
<meta name="keywords"
      content="IT Solutions in Afghanistan, jobs in afghanistan, Worker in afghanistan, scholarships for afghanistan, work in afghanistan, pashto books, dari books, top hotels in afghanistan, tour to afghanistan, afghanistan business, afghanistan work opportunities">

<main class="main">
    <section class="pt-100 login-register">
        <div class="container">
            <div class="row login-register-cover pb-250">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="text-center">
                        <img src="~/Content/JobBox/assets/imgs/page/login-register/img-6.svg" alt="hadaf.af">

                        <h2 class="mt-10 mb-5 text-brand-1">Protected Content</h2>
                        <p class="font-sm text-muted mb-30">
                            This content is protected. To view it please
                            <a asp-action="Login" asp-controller="Account">Sign In</a> witg new roles!
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>