@model SchoolManagement.Models.db.Sport



<div class="content container-fluid">



    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Create" method="post" data-ajax-success="OnSuccess"
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">


                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row ">

                            <div class="col-12">
                                <h5 class="form-title student-info">Assign Student<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="StudentId" class="control-label">Student Name <span class="login-danger">*</span></label>
                                    <input asp-for="StudentId" type="hidden" id="StudentId" class="form-control" />
                                    <input type="text" required id="txtName" name="txtName" class="form-control" />

                                    <span asp-validation-for="StudentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Name" class="control-label">Pay Amount <span class="login-danger"></span></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms ">
                                    <label asp-for="Postition" class="control-label">Postition <span class="login-danger"> *</span></label>
                                    <input asp-for="Postition" type="text" class="form-control" />
                                    <span asp-validation-for="Postition" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms ">

                                    <label asp-for="Comment" class="control-label">Comment<span class="login-danger"> *</span></label>
                                    <input asp-for="Comment" class="form-control" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/jquery-ui-1.14.1/jquery-ui.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/jquery-ui-1.14.1/jquery-ui.min.js"></script>


<script>
    $('#txtName').autocomplete({

        minlength: 3,
        source: function (request, response) {


            var SearchText = $('#txtName').val();
            //alert(SearchText);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('loading');

            $.ajax({

                type: "POST",
                async: true,
                url: "/Students/getStudentByName",
                //data: "{term:'" + SearchText + "'}",
                data: { "term": SearchText },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {
                    if (data.length == 0) {

                        $('#txtName').removeClass('loading');
                        $('#txtName').addClass('notfound');


                    }
                    else {
                        $('#txtName').removeClass('loading');


                    }

                    response($.map(data, function (item) {
                        return { label: item.FirstName, value: item.StudentId };
                    }))

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });



        },

        select: function (event, ui) {

            $('#txtName').val(ui.item.label);

            $('#StudentId').val(ui.item.value);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('checked');
            $('.page-loader').show();
            $.ajax({

                type: "POST",
                async: true,
                url: "/Fees/getStudentPayments",
                //data: "{term:'" + SearchText + "'}",
                data: { "Id": ui.item.value },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {

                    $('.page-loader').hide();
                    alert(data);
                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });

            return false;

        },



    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {

                 swal("Saved!",  data.message, "success");

             $("#Name").val("");
             $("#Comment").val("");

           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}