@model SchoolManagement.Models.db.Fee




<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Add Fees</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                        <li class="breadcrumb-item active">Add Students</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Create" method="post" data-ajax-success="OnSuccess"
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">


                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row ">

                            <div class="col-12">
                                <h5 class="form-title student-info">Register New Fees<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                            </div>
                            <div class="col-lg-8 row">
                                <div class="col-sm-6">
                                    <div class="form-group local-forms">
                                        <label asp-for="StudentId" class="control-label">Student Name <span class="login-danger">*</span></label>
                                        <input asp-for="StudentId" type="hidden" id="StudentId" class="form-control" />
                                        <input type="text" required id="txtName" name="txtName" class="form-control" />

                                        <span asp-validation-for="StudentId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group local-forms">
                                        <label asp-for="Amount" class="control-label">Pay Amount <span class="login-danger"></span></label>
                                        <input asp-for="Amount" class="form-control" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-8 col-sm-6">
                                    <div class="form-group local-forms calendar-icon">
                                        <label asp-for="Date" class="control-label">Date <span class="login-danger"> *</span></label>
                                        <input asp-for="Date" type="date" class="form-control" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-8 col-sm-6">
                                    <div class="form-group local-forms ">

                                        <label asp-for="Comment" class="control-label">Comment<span class="login-danger"> *</span></label>
                                        <input asp-for="Comment" class="form-control" />
                                        <span asp-validation-for="Comment" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="student-submit">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h5 style="text-align:center">Sudent assign payments</h5>
                                <p style="text-align:center">
                                    1.
                                    2.
                                    3.
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/jquery-ui-1.14.1/jquery-ui.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/jquery-ui-1.14.1/jquery-ui.min.js"></script>


<script>
    $('#txtName').autocomplete({

        minlength: 3,
        source: function (request, response) {


            var SearchText = $('#txtName').val();
            //alert(SearchText);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('loading');

            $.ajax({

                type: "POST",
                async: true,
                url: "/Students/getStudentByName",
                //data: "{term:'" + SearchText + "'}",
                data: { "term": SearchText },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {
                    if (data.length == 0) {

                        $('#txtName').removeClass('loading');
                        $('#txtName').addClass('notfound');


                    }
                    else {
                        $('#txtName').removeClass('loading');


                    }

                    response($.map(data, function (item) {
                        return { label: item.FirstName, value: item.StudentId };
                    }))

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });



        },

        select: function (event, ui) {

            $('#txtName').val(ui.item.label);

            $('#StudentId').val(ui.item.value);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('checked');
            $('.page-loader').show();
            $.ajax({

                type: "POST",
                async: true,
                url: "/Fees/getStudentPayments",
                //data: "{term:'" + SearchText + "'}",
                data: { "Id": ui.item.value },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {

                    $('.page-loader').hide();
                
                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });

            return false;

        },



    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {


             swal("Saved!", data.message, "success");
        
                 LoadInvoice(data.Id)
             $("#Name").val("");
             $("#Comment").val("");

           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}
<script>
    function LoadInvoice(Id) {

        
        $.ajax({
            //type: "POST", //Method type
            //url: "/Fees/ReciptInvoice", //url to load partial view
            ////data: JSON.stringify({ feeId: Id }),
            //data: { "feeId": Id },

            //contentType: "application/json; charset=utf-8",
            //dataType: "json",


               type: "POST",
                async: true,
            url: "/Fees/ReciptInvoice", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id },
                //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#A4ModelBody').html(response);
                $('#A4Model').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

@* printer button function *@
<script>

    function printDiv() {




        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write(`<html>
           <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">


                <title>


                   بیل چاپ
                </title>







  @@Styles.Render("~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")
  @@Styles.Render("~/Content/plugins/fontawesome-free/css/all.css")
  @@Styles.Render("~/Content/dist/css/adminlte.min.css")
  @@Styles.Render("~/Content/bootstrap.min.css")



            </head>
<body onload="window.print()">` + divToPrint.innerHTML + ' </body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);
        $("#Cancel").trigger("click");





    }


</script>


<div class="modal fade bd-example-modal-lg" id="A4Model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="A4ModelBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="printDiv()"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>
